doctype html
html(lang="zh-CN")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='Content-Type', name='application/x-csi', content='text/css; charset=utf-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='#{keywords ? keywords : "blog, xiaoyu, node, node,js, javascript, jade, express, mongodb, mongoose"}')
    meta(name='description',content='#{description ? description : "xiaoyu"}')
    link(href='/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/libs/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css', rel='stylesheet')
    link(href='/stylesheets/site.css', rel='stylesheet')    
    link(href="/stylesheets/home-loading.css", rel="stylesheet")
    title=title
  body.fuelux
    #home-loading.home-loading(style='display: none;')
      #loading-con.loading-con
        .loading-circle
        img#loadingImg(alt="loading", src=settings.LogoPath)
    .pjax-loader-bar#js-pjax-loader-bar
      .progress
    .d-flex.flex-column(style='min-height: 100%;')
      header.border-bottom
        ._container
          nav#_nabvar.navber.d-flex.justify-content-between.align-items-center
            section.align-items-center
              a.navbar-brand(href="#{query !== 'about' ? '/about' : 'javascript:;'}")
                img._logo(src=settings.LogoPath, alt="")
                span._title
                  | xiaoyu
            section
              div
                ul.navbar-nav.d-flex.flex-row._navbar_container
                  li.nav-item(class='#{query === "blog" ? query : ""}')
                    a._nav_link(href="#{query === 'blog' ? 'javascript:;' : '/blog'}")
                      span
                        i.fas.fa-box-open
                          span._margin
                            | #{__("layout.blog")}
                  li.nav-item(class='#{query === "source" ? query : ""}')
                   a._nav_link(href="#{query === 'source' ? 'javascript:;' : '/source'}")
                     span
                       i.fas.fa-book-open
                       span._margin
                        | #{__("layout.source")}
                  li.nav-item(class='#{query === "book" ? query : ""}')
                    a._nav_link(href="#{query === 'book' ? 'javascript:;' : '/book'}")
                      span
                        i.fas.fa-toolbox
                        span._margin
                          | #{__("layout.book")}
                  li.nav-item
                    a._nav_link(href="#", style='color: #f0f0f0;')
                      span
                        i.fas.fa-comment-dots
                          span._margin
                            | #{__("layout.message")}
                  li.nav-item(class='#{query === "about" ? query : ""}')
                    a._nav_link(href="#{query === 'about' ? 'javascript:;' : '/about'}")
                      span
                        i.fas.fa-user
                          span._margin
                            | #{__("layout.about")}
      block content
    script.
      //- $(document).ready(function(){
      //-   $('#home-loading').css('display', 'none');
      //- });