doctype html
html(lang="zh-CN")
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='Content-Type', name='application/x-csi', content='text/css; charset=utf-8')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='#{keywords ? keywords : "blog, xiaoyu, node, node,js, javascript, jade, express, mongodb, mongoose"}')
    meta(name='description',content='#{description ? description : "xiaoyu"}')
    link(href='/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/libs/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css', rel='stylesheet')
    link(href='/stylesheets/site.css', rel='stylesheet')    
    title=title
  body.fuelux
    if (isRoot)
      link(href="/stylesheets/home-loading.css", rel="stylesheet")
      #home-loading.home-loading
        #loading-con.loading-con(style='display: none;')
          .loading-circle
          script.
            var home_loading_cobegin = new Date();
            document.body.style.overflow = 'hidden';
            function imgLoad() {
              document.getElementById('home-loading').style.background = '#f3f3f3';
              document.getElementById('loading-con').style.display = 'block';
            }
          img#loadingImg(alt="loading", src=settings.LogoPath, onload="imgLoad();")
    .d-flex.flex-column(style='height: 100%;')
      header.border-bottom
        ._container
          nav#_nabvar.navber.d-flex.justify-content-between.align-items-center
            section.align-items-center
              a.navbar-brand(href="#")
                img._logo(src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg", alt="")
                span._title
                  | xiaoyu
            section
              div
                ul.navbar-nav.d-flex.flex-row._navbar_container
                  li.nav-item(class='#{query}')
                    a._nav_link(href="#{query === 'blog' ? 'javascript:;' : '/blog'}")
                      span
                        i.fas.fa-box-open
                          span._margin
                            | #{__("layout.blog")}
                  li.nav-item
                   a._nav_link(href="#")
                     span
                       i.fas.fa-book-open
                       span._margin
                        | #{__("layout.source")}
                  li.nav-item
                    a._nav_link(href="#")
                      span
                        i.fas.fa-toolbox
                        span._margin
                          | #{__("layout.tool")}
                  li.nav-item
                    a._nav_link(href="#")
                      span
                        i.fas.fa-comment-dots
                          span._margin
                            | #{__("layout.message")}
                  li.nav-item
                    a._nav_link(href="#")
                      span
                        i.fas.fa-user
                          span._margin
                            | #{__("layout.about")}
      block content