extends ../common/layout.jade
block content
  link(href='/stylesheets/index.css', rel='stylesheet')
  div(style='flex-grow: 1;background: #f3f3f4;')
    ._github
      a(href="https://github.com/xiaoyu311")
        img(src="/images/github.png", alt="github")
    ._container
      ._index_row
        .row
          .col-md-2._col_md.col_padding
            ._sidebar_container
              ._side_title.border-bottom
                a
                  | 文章分类
              ._sidebar
                ul#cate_type.navbar-nav
                  each cate in cateData
                    li.cate_item.nav-item.d-flex.align-items-center._nav_item(class='#{currentCate === cate.Alias ? "_nav_item_active" : ""}')
                      a(href='#{currentCate === cate.Alias ? "javascript:;" : cate.Alias}')
                        img._alias_img(src=cate.Img, alt="icon")
                        span._alias_text
                          | #{cate.CateName}
          .col-md-8.col_padding.offset-md-3._me_main
            ._main
              header._main_header.border-bottom.d-flex.justify-content-between
                section
                  span._title_text
                    | 全文
                  span._title_title
                    | 标题
                section.d-flex.align-items-center
                  .input-group._input_group
                    .input-group-prepend
                      button.btn.btn-outline-secondary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        | 全文
                      .dropdown-menu
                        a.dropdown-item(href="javascript:;", data-set="全文")
                          | 全文
                        a.dropdown-item(href="javascript:;", data-set="日期")
                          | 日期
                        a.dropdown-item(href="javascript:;", data-set="标题")
                          | 标题
                        a.dropdown-item(href="javascript:;", data-set="标签")
                          | 标签
                        a.dropdown-item(href="javascript:;", data-set="分类")
                          | 分类
                    input.form-control(type="text" aria-label="Text input with dropdown button")
                    .input-group-prepend
                      button.btn.btn-outline-secondary(type="button", style="border-top-right-radius: .25rem; border-bottom-right-radius: .25rem;")
                        i.fas.fa-search
                        span(style="margin-left: 5px;")
                          | 搜索
              main._main-wrapper
                ul.navbar-nav
                  each articleInfo in articleList
                    li.nav-item._content_item(_id=articleInfo._id, title=articleInfo.Title, Labels=articleInfo.Labels, onclick='$.contentShow(event, this)')
                      div
                        section(style="margin-top: 15px;")
                          h4(style="margin: 0;")
                            a._main_title(href="#")
                              | #{articleInfo.Title}
                        section.d-flex.justify-content-between(style="margin-top: 10px;")
                          div
                            span._type._type_margin
                              i.fa.fa-map-signs
                              span._margin_right
                                | #{articleInfo.CateName}
                            span._type._type_margin
                              i.fas.fa-clock
                              span._margin_right
                                | 2016-04-04
                          div._alias(style="#{articleInfo.Url ? 'display: block' : 'display: none'}")
                            i.fas.fa-globe
                            a.target_url(href="#{articleInfo.Url}", id="target_url")
                              | #{articleInfo.Url}
                        section(style="margin-top: 10px;")
                          span._content
                            | #{articleInfo.Summary}  
                .next_page_container 
                  span.next_page_text
                    | 下一页  
                  .my_load
                    div
                      .first
                      .second
                      .third
            footer.footer
              p
                | 2018 © All Rights Reserved | #{settings.RecordNo} | 
                a(href="#")                  
                  | 后台管理
  .mask
  .mask_content
    header.header_title.border-bottom
      h4 
    main#article_content
      .my_load
        div
          .first
          .second
          .third
    footer#footer_btn.footer_content.d-flex.border-top.justify-content-between
      .labels
      .btn_wrapper
        button.btn_closs.btn.btn-danger(type="button", style="margin-right: 20px")
          i.fas.fa-power-off
          span(style="margin-left: 5px")
            | 关闭
        button.btn.btn-success(type="button")
          i.fas.fa-desktop
          span(style="margin-left: 5px")
            | 完整模式
  script(type='text/javascript', src='/libs/jquery/dist/jquery.min.js', charset='utf-8')
  script(type='text/javascript',src="/javascripts/index.js")
  script(type='text/javascript',src="/javascripts/nav.js")
