extends ../common/layout.jade
block content
  link(href='/stylesheets/selectlist.css', rel='stylesheet')
  link(href='/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css', rel='stylesheet')
  div(style='flex-grow: 1;background: #f3f3f4;')
    ._github
      a(href="https://github.com/xiaoyu311")
        img(src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67", alt="github")
    .container._container
      ._index_row
        .row
          .col-md-2._col_md.col_padding
            ._sidebar_container
              ._side_title.border-bottom
                a
                  | 文章分类
              ._sidebar
                ul#cate_type.navbar-nav
                  each cate in cateData
                    li.cate_item.nav-item.d-flex.align-items-center._nav_item(class='#{currentCate === cate.Alias ? "_nav_item_active" : ""}')
                      a(href='#{currentCate === cate.Alias ? "javascript:;" : cate.Alias}')
                        img._alias_img(src=cate.Img)
                        span._alias_text
                          | #{cate.CateName}
          .col-md-8.col_padding.offset-md-3(style="margin-top: 30px;")
            ._main
              header._main_header.border-bottom.d-flex.justify-content-between
                section
                  span._title_text
                    | 日期
                  span._title_title
                    | 标题
                section.d-flex.align-items-center
                  .input-group._input_group
                    .input-group-prepend
                      button.btn.btn-outline-secondary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                        | 全文
                      .dropdown-menu
                        a.dropdown-item(href="#")
                    input.form-control(type="text" aria-label="Text input with dropdown button")
                    .input-group-prepend
                      button.btn.btn-outline-secondary(type="button", style="border-top-right-radius: .25rem; border-bottom-right-radius: .25rem;")
                        i.fas.fa-search
                        span(style="margin-left: 5px;")
                          | 搜索
              main._main-wrapper
                ul.navbar-nav
                  each articleInfo in articleList
                    li.nav-item._content_item
                      div
                        section(style="margin-top: 30px;")
                          h4(style="margin: 0;")
                            a._main_title(href="#")
                              | #{articleInfo.Title}
                        section.d-flex.justify-content-between(style="margin-top: 15px;")
                          div
                            span._type._type_margin
                              i.fa.fa-map-signs
                              span._margin_right
                                | #{articleInfo.CateName}
                            span._type._type_margin
                              i.fas.fa-clock
                              span._margin_right
                                | 2016-04-04
                          div._alias(style="#{articleInfo.Url ? 'display: block' : 'display: none'}")
                            i.fas.fa-globe
                            a#target_url(href="#{articleInfo.Url}")
                              | #{articleInfo.Url}
                        section(style="margin-top: 15px;")
                          span._content
                            | #{articleInfo.Summary}  
  .mask
  .mask_content
  script(type='text/javascript', src='/libs/jquery/dist/jquery.min.js', charset='utf-8')
  script(type='text/javascript',src="/javascripts/index.js")
  script(type='text/javascript',src="/javascripts/nav.js")
